
{% load crispy_forms_tags %}
{% load custom_tags_filters %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCommentaires" aria-labelledby="offcanvasCommentaires">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title custom-text-light" id="offcanvasLabel">Commentaires sur la demande</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="post" onsubmit="openLoader()" action="{% url 'dashboard:demande:add_commentaire' pk=demande.id%}">
      {% csrf_token %}
      {{ form_comment|crispy}}
      <button type="submit" class="btn btn-primary me-1 mb-2" name="form_comment_submit">Envoyer</button>
      {% if demande.status.label == 'attente_complement' %}
        <button type="submit" class="btn btn-secondary mb-2" disabled name="form_comment_submit_suspend">Envoyer et suspendre la demande</button>
      {% else %}
        <button type="submit" class="btn btn-outline-danger mb-2" name="form_comment_submit_suspend">Envoyer et suspendre la demande</button>
      {% endif %}
    </form>
    
    
    <div class="col-12 col-list-commentaires pb-3 mt-2">
      <div class="autoscrollable-wrapper">
        <div class="autoscrollable-content">
          {% for commentaire in commentaires %}
            {% if commentaire.auteur == request.user %}
              <div class="message-bubble ">
            {% else %}
              <div class="message-bubble message-bubble-self">
            {% endif %}
              <span class="message-bubble-title text-hint custom-text-light">
                <i class="bi bi-person-fill"></i>
                {{ commentaire.auteur }} - {{ commentaire.created_at }}
              </span><br>
              <span class=" message-bubble-body text-hint fw-bold">
                {{ commentaire.objet }}
              </span>
              <br>
              <span class=" message-bubble-body">
                {{ commentaire.message }}
              </span>
            </div> 
          {% empty%}
            Aucun commentaire pour l'instant.
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% if commentaires %}
{% endif %}
