{% extends 'dashboard/base/master.html' %}
{% load static %}


{% block content %}
  
  <div class="row mx-3 my-3">
    <div class="col">
      <div class="card custom-card p-4">
        
        <div class="card-body">
          <h3 class="card-title mb-4">Correspondants désignés</h3>
          {% comment %} <div class="card-title">Organisations enregistrées</div> {% endcomment %}
          <div class="card-text">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Organisation</th>
                  <th scope="col">Correspondant</th>
                  <th scope="col">Type</th>
                  <th scope="col">Adresse email</th>
                  <th scope="col">Téléphone</th>
                  <th scope="col">Date de désignation</th>
                  <th scope="col">Actif</th>
                  <th scope="col">Approuvé</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for correspondant in correspondants %}
                  <tr>
                    <td> 
                      <a href="{% url 'dashboard:enregistrement:detail' pk=correspondant.organisation.id %}">
                        {{ correspondant.organisation }} 
                      </a>
                    </td>
                    <td> 
                      <a href="{% url 'dashboard:correspondant:detail' pk=correspondant.id %}">
                      {{ correspondant }} 
                      </a>
                    </td>
                    <td> {{ correspondant.type_dpo }} </td> 
                    <td> 
                      {% if correspondant.is_personne_morale %}
                        {{ correspondantcabinet.email_contact}} 
                      {% else %}
                        {{ correspondant.user.email  }} 
                      {% endif %}
                    </td>
                    <td> 
                      {% if correspondant.is_personne_morale %}
                        {{ correspondant.cabinet.telephone }} 
                      {% else %}
                        {{ correspondant.user.telephone }} 
                      {% endif %}
                    </td>
                    <td> {{ correspondant.created_at }} </td>
                    <td> 
                      {% if correspondant.is_active %}
                        <i class="bi bi-check-circle-fill text-success"></i>
                      {% else %}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                      {% endif %} 
                    </td>
                    <td>  
                      {% if correspondant.is_approved %}
                        <i class="bi bi-check-circle-fill text-success"></i>
                      {% else %}
                        <i class="bi bi-x-circle-fill text-danger"></i>
                      {% endif %}
                    </td>
                    <td>
                      <a href="{% url 'dashboard:correspondant:detail' pk=correspondant.id %}">
                        <i class="bi bi-arrow-right text-secondary"></i>
                      </a>     
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
{% endblock content %}
