{% extends 'dashboard/base/master.html' %}
{% load static %}
{% load custom_tags_filters %}


{% block content %}

  
<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <div class="col-12">
    <h3 class="text-hint mb-3 custom-text-light fw-bold">Détails du Correspondant</h3>
    
    <div class="row mb-4">
      <div class="col">
        <div class="card custom-card">
          <div class="card-body">
            <span class="badge text-bg-light custom-text-light me-2">
              {% if correspondant.is_active %}
                <i class="bi bi-check-circle-fill"></i> Actif
              {% endif %}

              {% if not correspondant.is_active %}
                <i class="bi bi-x-circle-fill"></i> Inactif
              {% endif %}
            </span>

            <span class="badge text-bg-light custom-text-light me-2">
              {% if correspondant.is_approved %}
                <i class="bi bi-shield-fill-check"></i> Approuvé
              {% elif not correspondant.is_approved and not correspondant.is_rejected %}
                <i class="bi bi-exclamation-circle-fill"></i> En attente d'approbation
              {% elif not correspondant.is_approved and correspondant.is_rejected %}
                <i class="bi bi-shield-fill-x"></i> Refusé
              {% endif %}
            </span>

            {% if request.user.is_staff %}
              {% if not correspondant.is_approved %}
                <a href="{% url 'dashboard:correspondant:approve' pk=correspondant.id approve=1 %}" 
                  class="btn btn-primary me-2" onclick="openLoader()">
                  Approuver
                </a>

                <a href="{% url 'dashboard:correspondant:approve' pk=correspondant.id approve=2 %}" 
                  class="btn btn-danger me-2" onclick="openLoader()">
                  Refuser
                </a>
              {% else %}
                <a href="{% url 'dashboard:correspondant:approve' pk=correspondant.id approve=0 %}" 
                  class="btn btn-danger me-2" onclick="openLoader()">
                  Retirer l'approbation
                </a>
              {% endif %}
            {% else %}
              <a href="{% url 'dashboard:correspondant:edit' pk=correspondant.id %}" class="btn btn-success me-2">Modifier</a>
            {% endif %}
            {% comment %} <form method="POST" style="display: inline;">
              {% csrf_token %}
              <button class="btn btn-danger me-2">Désactiver</button>
            </form> {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card custom-card mb-4">
          <div class="card-header custom-text-light">
            Correspondant
          </div>
          <div class="card-body">
            <p>
              <i class="bi bi-person-circle fw-bold custom-text-light x-large">
              </i>
              <a href="">
                <strong>{{ correspondant.user }}</strong>
              </a>
              <ul class="list-group list-group-flush dpo-infos-list">
                <li class="list-group-item"> <i class="bi bi-calendar3 custom-text-light large"></i> &emsp; Désigné le {{ correspondant.created_at }} </li>
                <li class="list-group-item" ><i class="bi bi-telephone custom-text-light large"></i> &emsp; {{ correspondant.user.telephone }} </li>
                <li class="list-group-item"> <i class="bi bi-envelope-at custom-text-light large"></i> &emsp; {{ correspondant.user.email }} </li>
              </ul>
            </p>
          </div>
        </div>

        <div class="card custom-card">
          <div class="card-header custom-text-light">
            Organisation
          </div>
          <div class="card-body">
            {% with correspondant.organisation as org %}
              <p>
                <i class="bi bi-building fw-bold text-secondary x-large">
                </i>
                <a href="{% url 'dashboard:enregistrement:detail' pk=org.id %}">
                  <strong>{{ org }}</strong>
                </a>
                {% comment %} <i class="bi bi-telephone text-secondary"></i> {{ org.telephone }} <br>
                <i class="bi bi-envelope-at text-secondary"></i> {{ org.email_contact }} <br> {% endcomment %}
                <ul class="list-group list-group-flush dpo-infos-list">
                  <li class="list-group-item"> <i class="bi bi-telephone custom-text-light"></i> &emsp; {{ org.telephone }} </li>
                  <li class="list-group-item"> <i class="bi bi-envelope-at custom-text-light"></i> &emsp; {{ org.email_contact }} </li>
                  <li class="list-group-item"> <i class="bi bi-geo-alt custom-text-light"></i> &emsp; {{ org.ville }} </li>
                  <li class="list-group-item"> <i class="bi bi-geo custom-text-light"></i> &emsp; {{ org.adresse_geo }} </li>
                  <li class="list-group-item"> <i class="bi bi-mailbox custom-text-light"></i> &emsp; {{ org.adresse_bp }} </li>
                </ul>
              </p>
            {% endwith %}
      
          </div>
        </div>
      </div>
    
      <div class="col-6">
        <div class="card custom-card">
          <div class="card-header custom-text-light">
            Justificatifs
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for file_field in correspondant|get_file_fields %}
                <li class="list-group-item">
                  <strong class="custom-text-light">{{ file_field.verbose_name }} : </strong>
                    {{ correspondant|attr:file_field.name|get_fileinfos|safe }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>
  
{% endblock content %}
