{% extends 'dashboard/base/master.html' %}
{% load static %}
{% load custom_tags_filters %}

{% block custom_scripts %}
  <script>
    $(document).ready(function (){
      var show_comments = $('#action-parameter').val();
      console.log(show_comments);
      if (show_comments == 'True'){ // valeur python
        $('#offcanvasCommentaires').addClass('show');
      } 

      
    });
  </script>
{% endblock %}

{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <div class="col-12">
    <h3 class=" mb-3 custom-text-light fw-bold">Détails de la désignation Correspondant</h3>
    
    <div class="row mb-4">
      <div class="col">
        <div class="card custom-card">
          <div class="card-body">
            <span class="badge text-bg-light custom-text-light me-2">
              {% if correspondant.is_active %}
                <i class="bi bi-check-circle-fill"></i> Actif
              {% endif %}

              {% if not correspondant.is_active %}
                <i class="bi bi-x-circle-fill"></i> Inactif
              {% endif %}
            </span>

            <span class="badge text-bg-light custom-text-light me-2">
              {% if correspondant.is_approved %}
                <i class="bi bi-shield-fill-check"></i> Approuvé
              {% elif not correspondant.is_approved and not correspondant.is_rejected %}
                <i class="bi bi-exclamation-circle-fill"></i> En attente d'approbation
              {% elif not correspondant.is_approved and correspondant.is_rejected %}
                <i class="bi bi-shield-fill-x"></i> Refusé
              {% endif %}
            </span>

            
            {% if not correspondant.analyse and not request.user.is_staff %}
              {% if correspondant.is_personne_morale %}
                <a href="{% url 'dashboard:correspondant:edit_cabinet' pk=correspondant.id %}" class="btn btn-success me-2">
                  Modifier
                </a>
              {% else %}
                <a href="{% url 'dashboard:correspondant:edit' pk=correspondant.id %}" class="btn btn-success me-2">
                  Modifier
                </a>
              {% endif %}
            
            {% elif not correspondant.analyse and request.user.is_staff %}
              <a href="{% url 'dashboard:correspondant:analyse' pk=correspondant.id %}" 
                class="btn btn-primary me-2" onclick="openLoader()">
                Démarrer l'analyse
              </a>
            {% elif correspondant.analyse and not request.user.is_staff %}
              <button class="btn btn-success me-2" disabled>
                En cours d'analyse. Modification impossible.
              </a>
            {% elif correspondant.analyse and request.user.is_staff %}
              <span class="custom-text-light text-hint me-2">
                Analyse démarrée le {{ correspondant.analyse.created_at }} par {{ correspondant.analyse.created_by }}
              </span>
              {% if not correspondant.analyse.is_locked %}
                <a href="{% url 'dashboard:correspondant:analyse' pk=correspondant.id %}" 
                  class="btn btn-secondary me-2" onclick="openLoader()">
                  Poursuivre l'analyse
                </a>
              {% endif %}
              
            {% endif %}

            <button class="btn btn-light me-2 mb-2 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHistorique" aria-controls="offcanvasHistorique">
              Afficher l'historique
            </button>
            <button class="btn btn-light mb-2 me-2 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCommentaires" aria-controls="offcanvasCommentaires">
              Commentaires
            </button>

            {% comment %} <form method="POST" style="display: inline;">
              {% csrf_token %}
              <button class="btn btn-danger me-2">Désactiver</button>
            </form> {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="card custom-card mb-4">
          <div class="card-header custom-text-light">
            Correspondant
          </div>
          <div class="card-body">
            {% if correspondant.is_personne_morale %}
            <p>
              <i class="bi bi-building fw-bold custom-text-light x-large">
              </i>
              <a href="">
                <strong>{{ correspondant.cabinet }}</strong>
              </a>
              <ul class="list-group list-group-flush dpo-infos-list">
                <li class="list-group-item"> <i class="bi bi-tags custom-text-light large"></i> &emsp; <strong>{{ correspondant.type_dpo }}</strong> </li>
                <li class="list-group-item"> <i class="bi bi-calendar3 custom-text-light large"></i> &emsp; Désigné le {{ correspondant.created_at }} </li>
                <li class="list-group-item" ><i class="bi bi-telephone custom-text-light large"></i> &emsp; {{ correspondant.cabinet.telephone }} </li>
                <li class="list-group-item"> <i class="bi bi-envelope-at custom-text-light large"></i> &emsp; {{ correspondant.cabinet.email_contact }} </li>
              </ul>
            </p>
            {% else %}
            <p>
              <i class="bi bi-person-circle fw-bold custom-text-light x-large">
              </i>
              <a href="">
                <strong>{{ correspondant.user }}</strong>
              </a>
              <ul class="list-group list-group-flush dpo-infos-list">
                <li class="list-group-item"> <i class="bi bi-tags custom-text-light large"></i> &emsp; <strong>{{ correspondant.type_dpo }}</strong> </li>
                <li class="list-group-item"> <i class="bi bi-calendar3 custom-text-light large"></i> &emsp; Désigné le {{ correspondant.created_at }} </li>
                <li class="list-group-item" ><i class="bi bi-telephone custom-text-light large"></i> &emsp; {{ correspondant.user.telephone }} </li>
                <li class="list-group-item"> <i class="bi bi-envelope-at custom-text-light large"></i> &emsp; {{ correspondant.user.email }} </li>
              </ul>
            </p>
            {% endif %}
            
          </div>
        </div>

        <div class="card custom-card">
          <div class="card-header custom-text-light">
            Organisation
          </div>
          <div class="card-body">
            {% with correspondant.organisation as org %}
              <p>
                <i class="bi bi-building fw-bold custom-text-light x-large">
                </i>
                <a href="{% url 'dashboard:enregistrement:detail' pk=org.id %}">
                  <strong>{{ org }}</strong>
                </a>
                {% comment %} <i class="bi bi-telephone text-secondary"></i> {{ org.telephone }} <br>
                <i class="bi bi-envelope-at text-secondary"></i> {{ org.email_contact }} <br> {% endcomment %}
                <ul class="list-group list-group-flush dpo-infos-list">
                  <li class="list-group-item"> <i class="bi bi-telephone custom-text-light"></i> &emsp; {{ org.telephone }} </li>
                  <li class="list-group-item"> <i class="bi bi-envelope-at custom-text-light"></i> &emsp; {{ org.email_contact }} </li>
                  <li class="list-group-item"> <i class="bi bi-geo-alt custom-text-light"></i> &emsp; {{ org.ville }} </li>
                  <li class="list-group-item"> <i class="bi bi-geo custom-text-light"></i> &emsp; {{ org.adresse_geo }} </li>
                  <li class="list-group-item"> <i class="bi bi-mailbox custom-text-light"></i> &emsp; {{ org.adresse_bp }} </li>
                </ul>
              </p>
            {% endwith %}
      
          </div>
        </div>
      </div>
    
      <div class="col-6">
        <div class="card custom-card">
          <div class="card-header custom-text-light">
            Justificatifs
          </div>
          <div class="card-body">
            {% if correspondant.is_personne_morale %}
              <ul class="list-group list-group-flush">
                {% for file_field in correspondant|get_file_fields_include:'file_contrat' %}
                  <li class="list-group-item">
                    <strong class="custom-text-light">{{ file_field.verbose_name }} : </strong>
                      {{ correspondant|attr:file_field.name|get_fileinfos|safe }}
                  </li>
                {% endfor %}
              </ul>

            {% else %}
              <ul class="list-group list-group-flush">
                {% for file_field in correspondant|get_file_fields:'file_contrat' %}
                  <li class="list-group-item">
                    <strong class="custom-text-light">{{ file_field.verbose_name }} : </strong>
                      {{ correspondant|attr:file_field.name|get_fileinfos|safe }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>

{% for comment in commentaires %}
<p class="bizzz">{{ comment }}</p>
{% endfor %}

{% block commentaires %}
  {% include "./commentaires_demande.html" with demande=correspondant %}
{% endblock %}

<input id="action-parameter" style="display: none;" type="hidden" value="{{show_comments}}"> 

{% endblock content %}
