{% extends '../dashboard/base/master.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom_scripts %}
  {% comment %} 
    Le script permet de rechercher dans la base de données si l'adresse email saisie existe déjà
  {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const fieldEmail = document.getElementById('id_email');
      const divNotAvailable = document.getElementById('email-not-available');
      const divAvailable = document.getElementById('email-available');
      const btnSubmit = document.getElementById('btn-submit')

      function showMessage(email_exists) {
        if(email_exists){
          divNotAvailable.style.display = 'block'
          divAvailable.style.display = 'none'
          btnSubmit.style.display = 'none'
        }
        else {
          divNotAvailable.style.display = 'none'
          divAvailable.style.display = 'block'
          btnSubmit.style.display = 'block'
        }
      }

      fieldEmail.addEventListener('change', function() {
        // console.log('change event fired : ');
        const email = fieldEmail.value;
        fetch(`?email=${email}`, {
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        }).then(response => response.json())
        .then(data => {
          // console.log('data : ', data);
          showMessage(data.email_exists);
        });
      });

      // fieldTypeClient.addEventListener('change', toggleFields);
      // toggleFields();  // Initial call to set correct fields on load
  });
  </script>
{% endblock %}


{% block content %}

{% comment %} <div class="row mx-5 my-3">
  <div class="col-6">
    <h3 class="text-hint mb-3">Désigner un correspondant</h3>
    {{ organisation }}
    <div class="card">
      <div class="card-body">
        <div class="card-text">

          {% for error in errors.values %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}

          <div id="email-not-available" class="alert alert-danger" role="alert" style="display: none;">
            Cette adresse email est déjà utilisée, veuillez en sélectionner une autre.
          </div>

          <div id="email-available" class="alert alert-success" role="alert" style="display: none;">
            Adresse disponible
          </div>
          
          <form method="post">
            {% csrf_token %}
            {{ form_page1 | crispy }}
            <button id="btn-submit" class="btn btn-primary py-2 text-light" type="submit">Envoyer</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="row mx-5 my-3">
  <div class="col-8 mx-auto">
    <div class="card custom-card">
      <div class="card-body">
        <h3 class="card-title mt-3">Désigner un correspondant</h3>
        <h5 class="mb-5 custom-text-light">
          <i class="bi bi-building"></i> &emsp; 
          Organisation : <a href="">{{ organisation }}</a>
        </h5>
        <div class="card-text">
          
          {% for error in errors.values %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}

          <div id="email-not-available" class="alert alert-danger" role="alert" style="display: none;">
            Cette adresse email est déjà utilisée, veuillez en sélectionner une autre.
          </div>

          <div id="email-available" class="alert alert-success" role="alert" style="display: none;">
            Adresse disponible
          </div>

          <p class="text-secondary"> Etape 1/2 : Création du compte utilisateur du Correspondant
          </p>
          
          <form method="post">
            {% csrf_token %}
            {{ form_page1 | crispy }}
            <button id="btn-submit" class="btn btn-primary py-2" type="submit">Envoyer</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}