{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.1. All rights reserved.">
    {% block title %}
        <title>Plateforme e-DCP</title>
    {% endblock %}

    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}

    {% compress css %}
      {% comment %}<link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen"> {% endcomment %}      
      <link type="text/x-scss" href="{% static 'toastr/build/toastr.min.css' %}" rel="stylesheet">
      <link type="text/x-scss" href="{% static 'styles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

      {% block styles %}
      {% endblock %}

      {% block app_styles %}
      {% endblock %}
    

    {% block scripts %}
      <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script> 
      <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'toastr/build/toastr.min.js' %}"></script>
      <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
    {% endblock %}

    {% block custom_scripts %}
    {% endblock %}

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% comment %} <script>
    document.body.addEventListener('htmx:configRequest', function(evt) {
      evt.detail.parameters['X-CSRFToken'] = '{{ csrf_token }}'; // add a new parameter into the mix
    });
  </script> {% endcomment %}

  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "2000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
  </script>

{% comment %}   <script>
    function openLoader() {
      document.getElementById("loadingModal").style.display = "block";
    }
  </script> {% endcomment %}

  <script>
    $(document).ready(function(){
      // Show the loading indicator when a link is clicked or a form is submitted
      $('a, form').on('submit', function() {
        $('#loadingModal').show();
      });

      // Hide the loading indicator when the page is fully loaded
      $(window).on('load', function() {
          $('#loadingModal').hide();
      });

      $(window).on('pageshow', function(event) {
        if (event.originalEvent.persisted) {
          $('#loadingModal').hide();
        }
      });

      htmx.on("htmx:beforeOnLoad", function(evt) {
        $('#loadingModal').show();
      });

      htmx.on("htmx:afterOnLoad", function(evt) {
        $('#loadingModal').hide();
      });
    });
  </script>

  <div id="loadingModal" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="visually-hidden">Chargement...</span>
  </div>

  {% block layout %}
  {% endblock %}

  <script>
    $(document).ready(function(){
      // Function to scroll to the bottom of the div
      function scrollToBottom() {
        console.log('scrolling');
        var $div = $('#commentsAutoScroll');
        $div.scrollTop($div.prop("scrollHeight"));
      }

      htmx.on("htmx:afterOnLoad", function(evt) {
        // myJavascriptLib.init(evt.detail.elt);
        console.log(evt);
        scrollToBottom();
      });
    
    });
  </script>

  
</body>
<!-- <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.0. All rights reserved."> -->
</html>