{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.0. All rights reserved.">
    {% block title %}
        <title>Plateforme e-DCP</title>
    {% endblock %}

    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}

    {% compress css %}
      {% comment %}<link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen"> {% endcomment %}      
      <link type="text/x-scss" href="{% static 'toastr/build/toastr.min.css' %}" rel="stylesheet">
      <link type="text/x-scss" href="{% static 'styles.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

      {% block styles %}
      {% endblock %}

      {% block app_styles %}
      {% endblock %}
    

    {% block scripts %}
      <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script> 
      <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'toastr/build/toastr.min.js' %}"></script>
    {% endblock %}

    {% block custom_scripts %}
    {% endblock %}

</head>
<body>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "2000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
  </script>

  <script>
    function openLoader() {
      document.getElementById("loadingModal").style.display = "block";
    }

    /*const linkLoader = document.querySelector(".link-loader");
    linkLoader.addEventListener("click", (event) => {
      openLoader();
    });*/
  </script>

  <div id="loadingModal" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="visually-hidden">Chargement...</span>
  </div>

  {% block layout %}
  {% endblock %}

</body>
<!-- <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.0. All rights reserved."> -->
</html>