{% extends 'dashboard/base/master.html' %}
{% load crispy_forms_tags %}
{% load custom_tags_filters %}
{% load compress %}
{% load static %}

{% block app_styles %}
  {% compress css %}
    <link type="text/x-scss" href="{% static 'forms.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'demande_auto/styles.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
{% endblock %}

{% block custom_scripts %}
  {% comment %} 
    Script : désactivation des champs du formulaire pour empêcher la modification
  {% endcomment %}
  <script>
    $(document).ready(function (){
      $('#form-demande input').attr('disabled', true);
      $('#form-demande textarea').attr('disabled', true);
      $('#form-demande select').attr('disabled', true);
      $('span.asteriskField').toggle(false);
    });
  </script>
{% endblock %}


{% block content %}
  <div class="row mx-3 my-4">
    <div class="col">
      <div class="card custom-card">
        <div class="card-body small-padding">
          <h3 class="mb-3 card-title">Demande d'autorisation
            #<strong>{{ demande.num_demande }}</strong> :
            {{ demande.type_demande }}
          </h3>
          <div class="card-text">
            <span><i class="bi bi-building-fill custom-text-light"></i> {{ demande.organisation }} </span><br>
            <span><i class="bi bi-calendar-check-fill custom-text-light"></i> {{ demande.created_at }} </span><br>
            <span><i class="bi bi-file-earmark-text-fill custom-text-light"></i> Objet : {{ demande.type_demande }} </span><br>
            <span><i class="bi bi-sticky-fill custom-text-light"></i> N° <strong>{{ demande.num_demande }}</strong> </span><br>
            <span><i class="bi bi-stopwatch-fill custom-text-light"></i> {{ demande.status|get_status_color|safe }} </span><br>
            {% if facture %}
              <span><i class="bi bi-wallet-fill custom-text-light"></i> 
                <a href="" hx-get="{% url 'dashboard:facturation:detail_htmx' pk=facture.id %}" hx-target="#factureDetailModal" class="text-primary" data-bs-toggle="modal" data-bs-target="#factureModal">
                  {{ facture }} ({{facture.get_montant_cfa}})
                </a>
              </span><br>
            {% endif %}
            {% for paiement in paiements %}
              <span><i class="bi bi-arrow-right-short custom-text-light"></i> 
                <a href="" class="text-secondary">
                  {{ paiement.created_at }} - {{ paiement.get_montant_cfa }} 
                  {% if paiement.is_valid %}
                    (validé)
                  {% else %}
                    (en attente de validation)
                  {% endif %}
                </a>
              </span><br>
            {% endfor %}
            <br>
            
            {% if show_form_analyse %}
              <div id="row-actions" class="row">
                <div class="col">
                  <a href="{% url 'dashboard:demande_auto:detail' pk=demande.id %}" class="btn btn-light me-2">
                    <i class="bi bi-arrow-left"></i>
                    Retour
                  </a>
                  <button class="btn btn-primary me-2">Enregistrer et continuer</button>
                  <button class="btn btn-outline-primary me-2">Enregistrer et quitter</button>
                  {% if analyse.status == 'analyse_terminee' %}
                    <button class="btn btn-info me-2">Soumettre pour validation</button>
                  {% endif %}
                </div>
              </div>
            {% else %}
              <div id="row-actions" class="row">
                {% if request.user.is_staff %}
                  <div class="col">
                    <form method="post" id="change-status-form">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-7">
                          {{ form_status.status }}
                        </div>
                        <div class="col-5">
                          <button type="submit" class="btn btn-primary" name="form_status_submit">Modifier le statut</button>
                        </div>
                      </div>
                    </form>
                  </div>
                {% endif %}
                
                <div class="col">
                  {% if not request.user.is_staff %}
                    {% if demande.status.label == 'brouillon' or demande.status.label == 'demande_attente_complement' %}
                      <a href="{% url 'dashboard:demande_auto:edit' pk=demande.id %}" class="btn btn-primary me-2">Modifier</a>
                      <a href="{% url 'dashboard:demande_auto:submit_demande' pk=demande.id %}" class="btn btn-success me-2" onclick="openLoader()">Soumettre la demande</a>
                      
                      {% if demande.status.label == 'brouillon' %}
                        <button class="btn btn-danger me-2">Supprimer</button>
                      {% endif %}
                    
                    {% elif demande.status.label == 'demande_attente_paiement' %}
                      <a href="" data-bs-toggle="modal" data-bs-target="#modePaiementModal" class="btn btn-primary me-2" onclick="openLoader()">Paiement</a>
                    
                    {% else %}
                      <button class="btn btn-primary me-2" disabled>Modifier</a>
                      <button class="btn btn-success me-2" disabled>Soumettre la demande</button>
                      {% comment %} <button class="btn btn-danger me-2" disabled>Supprimer</button> {% endcomment %}
                    {% endif %}
                    
                    <button class="btn btn-light me-2 mb-2 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHistorique" aria-controls="offcanvasHistorique">
                      Afficher l'historique
                    </button>
                    <button class="btn btn-light mb-2 me-2 float-end" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCommentaires" aria-controls="offcanvasCommentaires">
                      Commentaires
                    </button>
                  {% endif %}

                  {% if request.user.is_staff %}
                    {% if analyse_exists %}
                      <a href="{% url 'dashboard:demande:analyse' pk=demande.id %}" class="btn btn-secondary me-2">Poursuivre l'analyse</a>
                    {% else %}
                      <a href="{% url 'dashboard:demande:analyse' pk=demande.id %}" class="btn btn-info me-2">Commencer l'analyse</a>
                    {% endif %}
                    
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-3 my-4">
    <div class="col-7">
      <div class="card custom-card" style="max-height: 800px; overflow: scroll;">
        <div class="card-header custom-text-light">
          Contenu du formulaire
        </div>
        <div class="card-body small-padding">
          {% comment %} <h3 class="text-hint mb-3 card-title"></h3> {% endcomment %}
          <div class="card-text mt-3">
            <form id="form-demande">
              {% csrf_token %}
              {{ raw_form|crispy }}
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5">
      <div class="card mb-3 custom-card">
        <div class="card-header custom-text-light">
          Fichiers joints
        </div>
        <div class="card-body small-padding">
          <ul class="list-group list-group-flush">
            {% for file_field in demande|get_file_fields %}
              <li class="list-group-item">
                <strong class="custom-text-light">{{ file_field.verbose_name }} : </strong>
                  {{ demande|attr:file_field.name|get_fileinfos|safe }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  

{% block commentaires %}
  {% include "demande/commentaires_demande.html" with demande=demande %}
{% endblock %}

<input id="action-parameter" style="display: none;" type="hidden" value="{{show_comments}}"> 

<div class="modal fade" id="factureModal" tabindex="-1" aria-labelledby="factureModalLabel" aria-hidden="true">
  {% include 'facturation/partials/detail.html' %}
</div>

<div class="modal fade" id="paiementModal" tabindex="-1" aria-labelledby="paiementModalLabel" aria-hidden="true">
  {% include 'facturation/partials/paiement_detail.html' %}
</div>


<div class="modal fade" id="modePaiementModal" tabindex="-1" aria-labelledby="modePaiementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5 custom-text-light" id="factureModalLabel"> Mode de paiement </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if facture %}
          <p>
            <a href="{% url 'dashboard:facturation:paiement_caisse' pk=facture.id %}" class="btn btn-primary">
              <i class="bi bi-person"></i> 
              Paiement à la caisse
            </a> <br>
            <span class="custom-text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
          </p>

          <p><a href="" class="btn btn-info disabled">
            <i class="bi bi-person"></i> 
            Paiement par carte bancaire
          </a></p>

          <p><a href="" class="btn btn-dark disabled">
            <i class="bi bi-person"></i> 
            Paiement mobile money
          </a></p>
        {% else %}
          <p>
            Aucune facture à régler.
          </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="modal fade" id="paiementModal" tabindex="-1" aria-labelledby="paiementModalLabel" aria-hidden="true">
  {% include 'facturation/partials/paiement_create.html' %}
</div> {% endcomment %}

{% endblock content %}


