html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

#header-nav-public{
  background-color: #FFFFFF;
}

.public-hero, .footer-public {
  background-color: #F4F2F0;
}

.icon-home{
  font-size: 32px;
}