asgiref==3.8.1
beautifulsoup4==4.12.3
crispy-bootstrap5==2024.2
Django==4.2.14
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-crispy-forms==2.3
django-feather==0.3.0
django-formtools==2.5.1
django-libsass==0.9
django-livereload-server==0.5.1
django_compressor==4.5
djangorestframework==3.12.4
flake8==3.9.2
gunicorn==22.0.0
libsass==0.23.0
mccabe==0.6.1
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pycodestyle==2.7.0
pyflakes==2.3.1
pytz==2024.1
rcssmin==1.1.2
rjsmin==1.2.2
soupsieve==2.5
sqlparse==0.5.0
tornado==6.4.1
django-formtools