<div class="container-fluid footer-public">
  <footer class="container py-5">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-primary">e-DCP</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="a-propos" class="nav-link p-0 text-body-secondary">A propos</a></li>
          <li class="nav-item mb-2"><a href="guides" class="nav-link p-0 text-body-secondary">Guides</a></li>
          <li class="nav-item mb-2"><a href="https://www.autoritedeprotection.ci/faqdcp/" target="_blank" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacts</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-primary">Confidentialité</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="mentions-legales" class="nav-link p-0 text-body-secondary">Mentions légales</a></li>
          <li class="nav-item mb-2"><a href="politique-de-confidentialite" class="nav-link p-0 text-body-secondary">Politique de confidentialité</a></li>
          <li class="nav-item mb-2"><a href="politique-de-cookies" class="nav-link p-0 text-body-secondary">Politique de cookies</a></li>
          <li class="nav-item mb-2"><a href="cgu" class="nav-link p-0 text-body-secondary">Conditions Générales d'utilisation</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Exercice des droits</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-primary">Autorité de Protection</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://www.autoritedeprotection.ci/" target="_blank" class="nav-link p-0 text-body-secondary">Site web</a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://www.autoritedeprotection.ci/decisions/" target="_blank"  class="nav-link p-0 text-body-secondary">Décisions</a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://www.autoritedeprotection.ci/avis/" target="_blank"  class="nav-link p-0 text-body-secondary">Avis</a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://www.autoritedeprotection.ci/lois/" target="_blank"  class="nav-link p-0 text-body-secondary">Législtation</a>
          </li>
          <li class="nav-item mb-2">
            <a href="https://www.autoritedeprotection.ci/contact/" target="_blank"  class="nav-link p-0 text-body-secondary">Contacts</a>
          </li>
        </ul>
      </div>
      
      <div class="col-6 col-md-3 mb-3">
        <h5 class="text-primary">ARTCI</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <span class="fs-6 fw-light">Autorité de Régulation des Télécommunications/TICs de Côte d'Ivoire</span>
          </li>
          <li class="nav-item mb-2">
            <i class="bi bi-telephone"></i> 
            <span class="fs-6 fw-light"> +225 27 20 34 43 73 | +225 27 20 34 43 74</span>
          </li>
          <li class="nav-item mb-2">
            <i class="bi bi-globe"></i> 
            <span class="fs-6 fw-light"><a class="link-primary text-decoration-none" href="https://www.artci.ci" target="_blank"> www.artci.ci</a> | 
              <a class="link-primary text-decoration-none" href="mailto:courrier@artci.ci" target="_blank"> courrier@artci.ci</a> </span>
          </li>
          <li class="nav-item mb-2">
            <i class="bi bi-geo-alt"></i> 
            <span class="fs-6 fw-light"> Abidjan - Marcory Anoumanbo</span>
          </li>
          <li class="nav-item mb-2">
            <i class="bi bi-envelope"></i> 
            <span class="fs-6 fw-light"> 18 BP 2203 Abidjan 18 - Côte d'Ivoire</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p class="text-body-secondary fw-light">Copyright &copy; 2023 | Autorité de Régulation des Télécommunications/TIC de Côte d'Ivoire | Tous droits réservés.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-success" href="#">
          <i class="bi bi-facebook"></i> 
        </a></li>
        <li class="ms-3"><a class="link-success" href="#">
          <i class="bi bi-twitter"></i> 
        </a></li>
        <li class="ms-3"><a class="link-success" href="#">
          <i class="bi bi-youtube"></i> 
        </a></li>
      </ul>
    </div>

    <!-- <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.1. All rights reserved."> -->
  </footer>
</div>

