<nav id="header-nav-public" class="navbar navbar-expand-lg bg-body-light shadow-lg sticky-top">
  <div class="container">
    <a class="navbar-brand text-primary fw-bold fs-2 me-5" href="{% url 'public:index' %}">e-DCP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a href="{% url 'public:a_propos' %}" class="nav-link link-primary fw-bold" ariaCurrentWhenActive="page">
            A propos
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'public:guides' %}" class="nav-link link-primary fw-bold" ariaCurrentWhenActive="page">
            Guides
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'public:faq' %}" class="nav-link link-primary fw-bold" ariaCurrentWhenActive="page">
            FAQ
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'public:contacts' %}" class="nav-link link-primary fw-bold" ariaCurrentWhenActive="page">
            Contacts
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'dashboard:index' %}" class="nav-link link-primary fw-bold" ariaCurrentWhenActive="page">
            Espace utilisateur
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>