{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    
    {% block title %}
        <title>Espace utilisateur e-DCP</title>
    {% endblock %}

    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}

    
    {% compress css %}
{% comment %}       <link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen">
 {% endcomment %}      <link type="text/x-scss" href="{% static 'theme-apdcp.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
</head>
<body>
  {% include "./header.html" %}

  {% block content %}
  {% endblock %}

  {% include "./footer.html" %}
</body>
</html>