{% extends '../dashboard/base/master.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block header %}
  {% include "../dashboard/base/header.html" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

{% comment %} <div class="row mx-5 my-3">
  <div class="col-6">
    <h3 class="text-hint mb-3">Désigner un correspondant</h3>
    {{ organisation }}
    <div class="card">
      <div class="card-body">
        <div class="card-text">

          {% for error in errors.values %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}
          
          <form method="post">
            {% csrf_token %}
            {{ form_page2 | crispy }}
            <button class="btn btn-primary py-2 text-light" type="submit">Envoyer</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="row mx-5 my-3">
  <div class="col-8 mx-auto">
    <div class="card custom-card">
      <div class="card-body">
        <h3 class="card-title mt-3">Désigner un correspondant</h3>
        <h5 class="mb-5 custom-text-light">
          <i class="bi bi-building"></i> &emsp; 
          Organisation : <a href="">{{ organisation }}</a>
        </h5>
        <div class="card-text">
          
          {% for error in errors.values %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endfor %}

          <div id="email-not-available" class="alert alert-danger" role="alert" style="display: none;">
            Cette adresse email est déjà utilisée, veuillez en sélectionner une autre.
          </div>

          <div id="email-available" class="alert alert-success" role="alert" style="display: none;">
            Adresse disponible
          </div>

          <p class="text-secondary"> Etape 1/2 : Création du compte utilisateur du Correspondant
          </p>
          
          <form method="post">
            {% csrf_token %}
            {{ form_page1 | crispy }}
            <button id="btn-submit" class="btn btn-primary py-2" type="submit">Envoyer</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}