{% load breadcrumbs %}

<div class="container my-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="#">
          <i class="bi bi-house-fill text-secondary"></i>
          <span class="visually-hidden">Accueil</span>
        </a>
      </li>

      {% for link in breadcrumbs %}
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">{{ link|get_bread_text:' / ' }}</a>
        </li>
      {% endfor %}

      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Library</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Data
      </li>
    </ol>
  </nav>
</div>