<p class="text-center py-5">
  <span class="created-by w-50 custom-text-light">
  Copyright &copy; 2023 | Autorité de Régulation des Télécommunications/TIC de Côte d'Ivoire | Tous droits réservés.
  </span>
  <div class="socials">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
  </div>
</p>