<p class="text-center py-5">
  <span class="created-by w-50 custom-text-light">
  Copyright &copy; 2023 | Autorité de Régulation des Télécommunications/TIC de Côte d'Ivoire | Tous droits réservés.
  </span>
  <div class="socials">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
  </div>
</p>

<!--
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .footer-content {
      background-color: #f8f9fa;
      padding: 20px;
      text-align: center;
    }
    .created-by {
      margin: 0;
      font-size: 14px;
      color: #6c757d;
    }
    .socials {
      margin-top: 10px;
    }
    .socials a {
      margin: 0 10px;
      text-decoration: none;
      font-size: 20px;
      color: #495057;
    }
    .socials a:hover {
      color: rgb(243, 138, 63);
    }
  </style>
  <title>Votre Site</title>
</head>
<body> -->
  <!-- Contenu du pied de page -->
  <!--<footer>
    <div class="footer-content">
      <p class="created-by">
        Copyright &copy; 2024 | Autorité de Régulation des Télécommunications/TIC de Côte d'Ivoire | Tous droits réservés.
      </p>
      <div class="socials">
        <a href="#" target="_blank" class="ion ion-social-github">GitHub</a>
        <a href="#" target="_blank" class="ion ion-social-facebook">Facebook</a>
        <a href="#" target="_blank" class="ion ion-social-twitter">Twitter</a>
        <a href="#" target="_blank" class="ion ion-social-linkedin">LinkedIn</a>
      </div>
    </div>
  </footer>
</body>
</html>-->
<!-- <meta name="copyright" content="© 2023 ARTCI/Team e-DCP/Devs/KC-NF-LK-DD-BE-SS/B1.01. All rights reserved."> -->
