{% comment %} {% load icon %} {% endcomment %}
{% if request.user.is_authenticated and request.user.is_staff %}
  <nav id="header" class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark shadow-lg" aria-label="Offcanvas navbar large">
{% else %}
  <nav id="header" class="navbar navbar-expand-lg navbar-light sticky-top bg-light shadow-lg" aria-label="Offcanvas navbar large">
{% endif %}

  <div class="container">
    <a class="navbar-brand fw-bold text-primary fs-3" href="{% url 'public:index' %}">
      e-DCP &nbsp;
      {% if request.user.is_authenticated and request.user.is_staff %}
       <span class="fs-6 fw-normal">Manager</span>
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold text-primary" id="offcanvasNavbar2Label">e-DCP</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Recherche..." aria-label="Recherche">
          </form>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> <i class="bi bi-card-list x-large fw-bold header-menu-icon"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-bell x-large fw-bold header-menu-icon"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle fw-bold header-menu-icon x-large"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-primary">{{ request.user }}</a></li>
              <li><a class="dropdown-item" href="{% url 'dashboard:user:edit' pk=request.user.id %}">Modifier le profil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
            </ul>
          </li>

          {% comment %} <li class="nav-item">
            <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
</nav>
