{% load custom_tags_filters %}

{% if historique %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasHistorique" aria-labelledby="offcanvasHistorique">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title custom-text-light" id="offcanvasLabel">Historique de la demande</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      {% for action in historique %}
        {% if not action.is_private or action.is_private and request.user.is_staff %}
          <li>
            <span class="text-hint custom-text-light">{{ action.created_at }}</span> <br> 
            <span class="text-hint text-body-secondary"><strong>{{ action.action }}</strong> - {{ action.status|get_status_color|safe }} </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
