{% if historique %}
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasHistorique" aria-labelledby="offcanvasHistorique">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title custom-text-light" id="offcanvasExampleLabel">Historique de la demande</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      {% for action in historique %}
        <li>
          <span class="text-hint custom-text-light">{{ action.created_at }}</span> <br> 
          <span class="text-hint text-body-secondary"><strong>{{ action.action }}</strong> - {{ action.status }} </span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
