{% load compress %}
{% load static %}
{% comment %} {% load icon %} {% endcomment %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {% block title %}
        <title>Plateforme e-DCP</title>
    {% endblock %}

    {% comment %} {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} {% endcomment %}


    {% compress css %}
        {% comment %}       <link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen">
        {% endcomment %}
        <link type="text/x-scss" href="{% static 'theme-apdcp.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'dashboard/styles.scss' %}" rel="stylesheet" >
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

    {% endcompress %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    {% block custom_scripts %}
    {% endblock %}

</head>
<body>
    {% block header %}
    {% endblock %}

    <main class="d-flex flex-nowrap">
{% comment %}         {% block sidebar %}
        {% endblock %} {% endcomment %}

        {% block sidebar %}
            {% include "./sidebar.html" %}
        {% endblock %}

        {% block breadcrumbs %}
        {% endblock %}


        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

  {% include "./footer.html" %}
</body>
</html>