<div id="sidebar" class="flex-shrink-0 p-3" style="width: 280px;">
  <p><a class="link-primary" href="{% url 'dashboard:index' %}">
    <i class="bi bi-house-door me-2"></i> Tableau de bord
  </a></p>

  <ul class="list-unstyled ps-0 mt-3">
    {% for elmt in  get_menu %}
      <li class="mt-3 menu-elmt">
        {% if elmt.type == 'section' %}
        <p>{{ elmt.text }}</p>
        {% endif %}

        {% if elmt.type == 'sous-menu' %}
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#{{elmt.id}}-collapse" aria-expanded="true">
          <i class="bi bi-{{elmt.icon}} me-2"></i>
          <span class="sous-menu">{{elmt.text}}</span>
        </button>
        <div class="collapse show" id="{{elmt.id}}-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% for item in elmt.items %}
            <li>
              <a href={% url item.url %} class="link-body-emphasis d-inline-flex text-decoration-none rounded">
                <span class="sous-menu-item"> {{ item.text }} </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if elmt.type == 'sous-menu-item' %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>