{% extends '../dashboard/base/master.html' %}
{% load static %}
{% load custom_tags_filters %}


{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <div class="col">
    <div class="card custom-card">
      <div class="card-body">
        {% comment %} <div class="card-title">Organisations enregistrées</div> {% endcomment %}
        <h3 class="card-title mb-5 mt-3">Toutes les demandes</h3>
        <div class="card-text">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Organisation</th>
                {% comment %} <th scope="col">Utilisateur</th> {% endcomment %}
                <th scope="col">Date</th>
                <th scope="col">Objet</th>
                <th scope="col">Statut</th>
                <th scope="col">Analyse</th>
                <th scope="col">Affecté à</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for demande in demandes %}
                <tr>
                  {% comment %} <td> {{ forloop.counter }} </td> {% endcomment %}
                  {% comment %} <td> {{ demande.id|stringformat:"08d" }} </td> {% endcomment %}
                  <td> <a href="{% url demande|get_demande_url|add:'analyse' pk=demande.pk %}" class="text-secondary fw-bold"> {{ demande.num_demande }} </a></td>
                  <td> <a href="{% url 'dashboard:enregistrement:detail' pk=demande.organisation.id %}"> {{ demande.organisation }} </a> </td>
                  {% comment %} <td> {{ enregistrement.user.nom }} {{ enregistrement.user.prenoms }} </td> {% endcomment %}
                  <td> {{ demande.created_at }} </td>
                  <td> {{ demande.categorie }} </td>
                  <td> 
                    {% if not demande.analyse %}
                    <span class="badge rounded-pill text-bg-danger text-light fw-normal">
                    {% endif %}
                    
                    {% if demande.status.label == 'demande_attente_complement' %}
                      <span class="badge rounded-pill text-bg-primary text-light fw-normal">
                    
                    {% elif demande.status.label == 'analyse_en_cours' %}
                      <span class="badge rounded-pill text-bg-warning text-light fw-normal">
                    
                    {% elif demande.analyse.is_closed %}
                      <span class="badge rounded-pill text-bg-success text-light fw-normal">
                    {% endif %}
                      {{ demande.status|truncatechars:30 }}
                    </span>
                </td>
                  <td> {{ demande.analyse.status }} </td>
                  <td> {{ demande.analyse.created_by }} </td>
                  <td> 
                    {% if not demande.analyse %}
                      <a href="{% url demande|get_demande_url|add:'analyse' pk=demande.pk action='validate' %}" class="btn btn-info">Traiter</a>
                    {% elif demande.analyse.niv_validation == 0 %}
                      <a href="{% url demande|get_demande_url|add:'analyse' pk=demande.pk action='validate' %}" class="btn btn-secondary">Poursuivre</a> 
                    {% elif demande.analyse and demande.analyse.niv_validation > 0 %}
                      {% if user_niv_validation >= demande.analyse.niv_validation %}
                        <a href="{% url demande|get_demande_url|add:'analyse' pk=demande.pk action='validate' %}" class="btn btn-success" >Valider</a> 
                      {% else %}
                        <button class="btn btn-light">Verrouillé</a> 
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <p>Aucune demande à traiter</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>



{% endblock content %}