{% extends '../dashboard/base/master.html' %}
{% load static %}
{% load custom_tags_filters %}


{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <div class="col">
    <div class="card custom-card">
      <div class="card-body">
        {% comment %} <div class="card-title">Organisations enregistrées</div> {% endcomment %}
        <h3 class="card-title mb-5 mt-3">Toutes les demandes</h3>
        <div class="card-text">
          <table class="table table-striped table-hover table-sm table-responsive-md align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Organisation</th>
                {% comment %} <th scope="col">Utilisateur</th> {% endcomment %}
                <th scope="col">Date</th>
                <th scope="col">Objet</th>
                <th scope="col">Statut de la demande</th>
                <th scope="col">Analyse</th>
                <th scope="col">Affecté à</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for demande in demandes %}
                <tr>
                  {% comment %} <td> {{ forloop.counter }} </td> {% endcomment %}
                  {% comment %} <td> {{ demande.id|stringformat:"08d" }} </td> {% endcomment %}
                  <td> <a href="{% url demande|get_demande_url|add:'detail' pk=demande.pk %}" class="text-primary fw-bold"> {{ demande.num_demande }} </a></td>
                  <td> <a href="{% url 'dashboard:enregistrement:detail' pk=demande.organisation.id %}"> {{ demande.organisation }} </a> </td>
                  {% comment %} <td> {{ enregistrement.user.nom }} {{ enregistrement.user.prenoms }} </td> {% endcomment %}
                  <td> {{ demande.created_at }} </td>
                  <td> {{ demande.categorie }} </td>
                  <td> {{ demande.status|get_status_color|safe }} </td>
                  <td> 
                    {% if demande.analyse %}
                      <span class="text-hint fw-bold">{{ demande.analyse.status }}</span> 
                    {% else %}
                      <span class="text-hint custom-text-light">Non démarrée</span>
                    {% endif %}
                  </td>
                  <td> 
                    {% if demande.analyse.created_by  %}
                    <span class="text-hint fw-bold">{{ demande.analyse.created_by }} </span>
                    {% else %}
                      <span class="text-hint custom-text-light">Non affectée</span>
                    {% endif %}
                  </td>
                  <td class="text-center"> 
                    {% if not demande.analyse %}
                      <a href="{% url 'dashboard:demande:analyse' pk=demande.pk action='analyse' %}" class="btn btn-info btn-sm">Traiter</a>
                    
                    {% elif demande.analyse.niv_validation == 0 %}
                      <a href="{% url 'dashboard:demande:analyse' pk=demande.pk action='analyse' %}" class="btn btn-secondary btn-sm">Poursuivre</a> 
                    
                    {% elif demande.analyse and demande.analyse.niv_validation > 0 %}
                      {% if user_niv_validation >= demande.analyse.niv_validation %}
                        <a href="{% url 'dashboard:demande:analyse' pk=demande.pk action='validate' %}" class="btn btn-success btn-sm {{ demande.analyse.is_closed|yesno:"disabled, " }}" >Valider</a> 
                      
                      {% else %}
                        <button class="btn btn-light btn-sm ">Verrouillé</a> 
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <p>Aucune demande à traiter</p>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>



{% endblock content %}