body{
  background-color: #efefef;
}

.main-content{
  max-width: 600px;
  padding: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #FFF;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: none;
  border-radius: 10px;
}

.form-signin {
  max-width: 5000px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control{
  border: none;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}
