
{% load custom_tags_filters %}


<div class="modal-dialog modal-lg" id="factureDetailModal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title fs-5 custom-text-light" id="factureModalLabel">{{ facture}}  </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p class="text-hint custom-text-light">
        Facture émise le <strong>{{ facture.created_at }}</strong>
        pour la demande N° {{ facture.demande.num_demande }}.
      </p>

      <table class="table table-borderless">
        <thead class="table-light">
          <tr>
            <th scope="col">Désignation</th>
            <th scope="col">Quantité</th>
            <th scope="col">Montant TTC</th>
            <th scope="col">Payée</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="mb-5">
              <td> {{ facture.demande }} </td> 
              <td> 1 </td> 
              <td> {{ facture.get_montant_cfa }} </td>  
              <td> {{ facture.is_paid|icon_true_false|safe }}</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
    </div>
  </div>
</div>