{% autoescape off %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Inline CSS */
        body {
            font-family: 'Open Sans', sans-serif;
        }

    </style>
</head>
<body>
    <div class="pdf-container">
        <div class="header">
            <img src="static/assets/img/logo_artci.png" width="250px">
            <!-- Display QR code -->
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
      </div>
</body>
</html>
{% endautoescape %}


