<!-- Page d'accueil du tableau de bord -->
{% extends 'dashboard/base/master.html' %}
{% load static %}


{% block content %}

<div class="row my-4 mx-auto">
  <div class="col-8">
    <div class="card custom-card">
      <div class="card-body col-10">
        <h5 class="card-title">Page en construction</h5>
        <div class="card-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
