{% extends '../base.html' %}

{% block content %}
  Bonjour,
  <br><br>
  <strong>{{correspondant}}</strong> a été désigné comme Correspondant à la protection des données de l'organiation <strong>"{{ correspondant.organisation }}"</strong>, par <strong>{{ correspondant.created_by }}</strong>.
  <br>
  Vous pouvez cliquer sur <a href="{{ domain }}{% url 'dashboard:correspondant:detail' pk=correspondant.id %}">ce lien</a> pour afficher les détails.
  <br><br>
  Merci !<br>
  L'Autorité de Protection
{% endblock %}
