{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    
    {% block title %}
        <title>Connexion à la plateforme</title>
    {% endblock %}
   
    {% compress css %}
        {% comment %}<link type="text/x-scss" href="{% static 'bootstrap/scss/bootstrap.scss' %}" rel="stylesheet" media="screen"> {% endcomment %}      
        <link type="text/x-scss" href="{% static 'theme-apdcp.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'connexion/styles.css' %}">
</head>
<body>
    
  {% block content %}
  {% endblock %}

</body>
</html>
