{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block title %}
    <title>Accueil | Plateforme e-DCP</title>
{% endblock %}

{% block styles %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'connexion/styles.css' %}" rel="stylesheet" >
    {% endcompress %}
{% endblock %}

{% block layout %}
  <p class="mt-4 ms-4">
    <a class="btn btn-outline-success" href="{% url 'public:index' %}"><i class="bi bi-house-fill fw-bold x-large"></i> Accueil</a>
  </p>  

  {% block content %}
  {% endblock %}
{% endblock %}
