{% extends 'connexion/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Créer un compte</title>
{% endblock %}

{% block jquery %}
  <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
<script>
  $(document).ready(function() {
    // Select the password field by its name attribute
    var passwordField = $('input[name="password1"]');
    var confirmPassword = $('input[name="password2"]');
    var btnSubmit = $('#btn-submit');
    // Create the password strength indicator element
    var strengthIndicator = $('<div id="password-strength" class="mt-2"></div>');
    var passwordMatch = $('<div id="password-match" class="mt-2 text-danger"></div>');
    // Append the strength indicator after the password field
    passwordField.after(strengthIndicator);
    confirmPassword.after(passwordMatch);

    passwordField.on('input', function() {
      var password = $(this).val();
      var strength = calculatePasswordStrength(password);
      strengthIndicator.text('Force du mot de passe : ' + strength.text).attr('class', strength.class);
    });

    confirmPassword.on('input', function(){
      var password1 = passwordField.val();
      var password2 = confirmPassword.val();
      if(password1 != password2){
        passwordMatch.text('Les mots de passe ne correspondent pas.');
        btnSubmit.prop('disabled', true);
      }
      else{
        passwordMatch.text('');
        btnSubmit.prop('disabled', false);
      }
    });

    function calculatePasswordStrength(password) {
      var strength = 0;
      if (password.length >= 6) {
          strength += 1;
      }
      if (password.match(/[A-Z]/)) {
          strength += 1;
      }
      if (password.match(/[a-z]/)) {
          strength += 1;
      }
      if (password.match(/[0-9]/)) {
          strength += 1;
      }
      if (password.match(/[\W_]/)) {
          strength += 1;
      }
      switch (strength) {
        case 0:
        case 1:
            return { text: 'Très faible', class: 'very-weak' };
        case 2:
            return { text: 'Faible', class: 'weak' };
        case 3:
            return { text: 'Moyenne', class: 'moderate' };
        case 4:
            return { text: 'Forte', class: 'strong' };
        case 5:
            return { text: 'Très forte', class: 'very-strong' };
      }
    }
  });
</script>
{% endblock %}

{% block content %}

<div class="card main-content background-accent p-3">
  <div class="card-body">
    <h1 class="text-primary fw-bold py-3">e-DCP</h1>
    <h2 class="h3 mb-3 fw-normal">Créer un compte</h2>
    {% comment %} <h1 id="title" class="title">Inscription</h1> {% endcomment %}
    <p class="mt-4">
      <strong class="text-success">Information : </strong>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
      esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    
    {% comment %} {{ form.as_p }} {% endcomment %}



    <main class="form-signin w-100 m-auto">
      
        {% if errors %}
          <ul class="alert alert-danger" role="alert">
            {% for error in errors.values %}
              {{ error }}
            {% endfor %}
          </ul>
        {% endif %}

      <form method="POST">
        {% csrf_token %}
        {% comment %} {% crispy form %} {% endcomment %}
        {{ form|crispy }}
        
        {% comment %} {% for field in form %}
          <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
              <p class="help" id="{{ field.auto_id }}_helptext">
                {{ field.help_text|safe }}
              </p>
            {% endif %}
          </div>
        {% endfor %} {% endcomment %}
        {% comment %} <div id="password-strength" class="mt-2"></div> {% endcomment %}
        <button id="btn-submit" class="btn btn-primary text-light px-5" type="submit">S'inscrire</button>
      </form>
    </main>

    <p>
      Déjà inscrit ? <a href="{% url 'login' %}">Connectez-vous</a>
    </p>

    {% comment %} {% for error in errors.values %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endfor %} {% endcomment %}

  </div>
</div>

  

{% endblock %}


{% comment %} <label for="username">Nom d'utilisateur</label>
<input type="text" id="username" name="username">

<label for="password1">Mot de passe</label>
<input type="text" id="password1" name="password1">

<label for="password2">Confirmer le mot de passe</label>
<input type="text" id="password2" name="password1"> 
<input type="submit" value="S'inscrire"> {% endcomment %}



{% comment %} <div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

<div class="form-check text-start my-3">
  <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Remember me
  </label>
</div> {% endcomment %}