/* line 1, public/static/public/styles.css */
html, body {
  height: 100%; }

/* line 5, public/static/public/styles.css */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

/* line 10, public/static/public/styles.css */
#header-nav-public {
  background-color: #FFFFFF; }

/* line 14, public/static/public/styles.css */
.nav-link {
  font-size: .9rem; }

/* line 18, public/static/public/styles.css */
.public-hero, .footer-public {
  background-color: #F4F2F0; }

/* line 22, public/static/public/styles.css */
.icon-home {
  font-size: 32px; }
