{% extends '../dashboard/base/master.html' %}
{% load static %}
{% load custom_tags_filters %}
{% comment %} {% load breadcrumbs %} {% endcomment %}


{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <div>
    <div class="col">
      <h3 class="text-hint mb-3 custom-text-light fw-bold">Détails de l'organisation</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-5">
      <div class="card custom-card enreg-infos">
        <div class="card-body">
          <h4 class="card-title mb-5 mt-3">
            <i class="bi bi-building fw-bold custom-text-light x-large"></i>
              {{enregistrement}}
          </h4>
          <p>
            <i class="bi bi-person-vcard fw-bold custom-text-light x-large">
            </i>&emsp;
            {{ enregistrement.representant }} <em>({{ enregistrement.user.fonction }})</em>
          </p>
          <p class="">
            <i class="bi bi-telephone fw-bold custom-text-light  x-large"></i> &emsp; {{ enregistrement.telephone }}
          </p>
          <p class="">
            <i class="bi bi-envelope-at fw-bold custom-text-light  x-large"></i> &emsp; {{ enregistrement.email_contact }}
          </p>
          <p class="">
            <i class="bi bi-map fw-bold custom-text-light x-large"></i> &emsp; {{ enregistrement.pays }}
          </p>
          <p class="">
            <i class="bi bi-geo-alt fw-bold custom-text-light x-large"></i> &emsp; {{ enregistrement.ville }}
          </p>
          <p class="">
            <i class="bi bi-geo fw-bold custom-text-light x-large"></i> &emsp; {{ enregistrement.adresse_geo }}
          </p>
          <p class="">
            <i class="bi bi-mailbox fw-bold custom-text-light x-large"></i> &emsp; {{ enregistrement.adresse_bp }}
          </p>
          <p class="">
            <i class="bi bi-globe fw-bold custom-text-light x-large"></i> &emsp; {{ enregistrement.site_web }}
          </p>
        </div>
      </div>
      
      <div class="card custom-card mt-4">
        <div class="card-header custom-text-light">
          Justificatifs
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for file_field in enregistrement|get_file_fields %}
              <li class="list-group-item">
                <strong class="custom-text-light">{{ file_field.verbose_name }} : </strong>
                  {{ enregistrement|attr:file_field.name|get_fileinfos|safe }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  
    <div class="col-7">
      <div class="card custom-card mb-4">
        <div class="card-body">
          <p>
            <i class="bi bi-calendar3 fw-bold custom-text-light x-large"></i> &emsp;
            Enregistré le : <strong>{{ enregistrement.created_at }}</strong>
          </p>
          <p>
            <i class="bi bi-person fw-bold custom-text-light x-large"></i> &emsp;
            Enregistrement effectué par : <a href="{% url 'dashboard:user:detail' pk=user.id %}"><strong>{{ enregistrement.user.nom }} {{ enregistrement.user.prenoms }}</strong></a>
          </p>
          <p>
            <i class="bi bi-person-fill fw-bold custom-text-light x-large"></i> &emsp;
            Correspondant : 
            {% if correspondant %}
              <a href="{% url 'dashboard:correspondant:detail' pk=correspondant.id %}"><strong>{{ correspondant }}</strong></a>
            {% elif not correspondant and not request.user.is_staff %}
              <a href="{% url 'dashboard:correspondant:designation' org=enregistrement.id %}">Désigner un correspondant</a>
            {% else %}
              Pas encore désigné.
            {% endif %}
            
          </p>
        </div>
      </div>
  
      <div class="card custom-card mb-4">
        <div class="card-body">
          
          <div class="form-group row">
            <label for="inputSecteur" class="label col-sm-4 col-form-label custom-text-light">Secteur d'activité</label>
            <div class="col-sm-8">
              <input 
                type="text"
                id="inputSecteur" 
                name="inputSecteur"
                disabled
                value="{{ enregistrement.secteur }}">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="inputRccm" class="label col-sm-4 col-form-label custom-text-light">Numéro RCCM</label>
            <div class="col-sm-8">
              <input 
                type="text"
                id="inputRccm" 
                name="inputRccm"
                disabled
                value="{{ enregistrement.rccm }}">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputEffectif" class="label col-sm-4 col-form-label custom-text-light">Effectif de l'organisation</label>
            <div class="col-sm-8">
              <input 
                type="number"
                id="inputEffectif" 
                name="inputEffectif"
                disabled
                value="{{enregistrement.effectif}}">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputPays" class="label col-sm-4 col-form-label custom-text-light">Pays</label>
            <div class="col-sm-8">
              <input 
                type="text"
                id="inputPays" 
                name="inputPays"
                disabled
                value="{{enregistrement.pays}}">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputVille" class="label col-sm-4 col-form-label custom-text-light">Ville (siège)</label>
            <div class="col-sm-8">
              <input 
                type="text"
                id="inputVille" 
                name="inputVille"
                disabled
                value="{{enregistrement.ville}}">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="inputAdr" class="label col-sm-4 col-form-label custom-text-light">Adresse géographique</label>
            <div class="col-sm-8">
              <input 
                type="text"
                id="inputAdr" 
                name="inputAdr"
                disabled
                value="{{enregistrement.adresse_geo}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="textPresentation" class="label col-sm-4 col-form-label custom-text-light">Présentation</label>
            <div class="col-sm-8">
              <textarea 
                class="form-control"
                rows="5"
                id="textPresentation" 
                name="textPresentation"
                value="{{enregistrement.presentation}}"
                disabled>
              </textarea>
            </div>
          </div>
  
          <div class="form-group mt-3">
            <a href="{% url 'dashboard:enregistrement:edit' pk=enregistrement.id %}" class="btn btn-primary py-2" type="submit">Modifier</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>



{% endblock content %}