{% extends '../dashboard/base/master.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block header %}
  {% include "../dashboard/base/header.html" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <h3 class="text-hint mb-3">Enregistrement</h3>
    <div class="card">
      <div class="card-body">
        <div class="card-title">Enregistrer votre organisation</div>
        <div class="card-text">
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary py-2 text-light" type="submit">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>



{% endblock content %}