{% extends '../dashboard/base/master.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom_scripts %}
  {% comment %} 
    Le script permet d'afficher dynamiquement certains champs du formulaire en fonction du type de client sélectionné
    l'ID de la valeur 'Personne physique' est récupéré dans la base de données et envoyé au template dans la variable id_personnephysique du dictionnaire extra_context
  {% endcomment %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const fieldTypeClient = document.getElementById('id_typeclient');
      const fieldTypePiece = document.getElementById('id_type_piece').parentElement;
      const fieldNumPiece = document.getElementById('id_num_piece').parentElement;
      const fieldRepresentant = document.getElementById('id_representant').parentElement;
      const fieldEffectif = document.getElementById('id_effectif').parentElement;

      function toggleFields() {
          const typeClient = fieldTypeClient.value;
          if (typeClient == {{ id_personnephysique }}) {
            fieldTypePiece.style.display = 'block' ;
            fieldNumPiece.style.display = 'block' ;
            fieldRepresentant.style.display = 'none' ;
            fieldEffectif.style.display = 'none' ;
          } else {
            fieldTypePiece.style.display = 'none' ;
            fieldNumPiece.style.display = 'none' ;
            fieldRepresentant.style.display = 'block' ;
            fieldEffectif.style.display = 'block' ;
          }
      }

      fieldTypeClient.addEventListener('change', toggleFields);
      toggleFields();  // Initial call to set correct fields on load
  });
  </script>
{% endblock %}

{% block header %}
  {% include "../dashboard/base/header.html" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<div class="row mx-5 my-3">
  {% comment %}   <div class="col-3"></div> {% endcomment %}
  <h3 class="text-hint mb-3">Modifier</h3>
    <div class="card">
      <div class="card-body">
        <div class="card-title">Modifier les informations de votre organisation</div>
        <div class="card-text">
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary py-2 text-light" type="submit">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  {% comment %} <div class="col">
    
  </div> {% endcomment %}
  
  {% comment %} <div class="col-3"></div> {% endcomment %}
</div>



{% endblock content %}